@property --_x {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

.card {
  --w: 100%;
  --r: 0.5em;

  display: grid;
  place-items: end end;
  transition: --_x 0.5s;
  cursor: pointer;
  margin: 0;
  position: relative;
  max-width: 600px;
}

.card.alt {
  place-items: end start;
}

.card > * {
  grid-area: 1/1;
}

.card:hover {
  --_x: calc(var(--w) - 3*var(--r) - 12em);
}

.image {
  width: var(--w);
  aspect-ratio: 1;
  border-radius: var(--r);
  object-fit: cover;
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 69%, #0000 72%);
  --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
  --_d: (3.5em + var(--r));
  mask:
    calc(100% - var(--_d) - var(--_x)) 100% var(--_m),
    100% calc(100% - var(--_d)) var(--_m),
    radial-gradient(1.75em at 100% 100%, #0000 99%, #000 calc(100% + 1px))
      calc(-1*var(--r) - var(--_x)) calc(-1*var(--r)),
    var(--_g) calc(-1*var(--_d) - var(--_x)) 0,
    var(--_g) 0 calc(-1*var(--_d));
  mask-repeat: no-repeat;
}

.card.alt .image {
  --_g: conic-gradient(from 180deg at var(--r) calc(100% - var(--r)), #0000 25%, #000 0);
  mask:
    calc(var(--_d) + var(--_x)) 100% var(--_m),
    0% calc(100% - var(--_d)) var(--_m),
    radial-gradient(1.75em at 0 100%, #0000 99%, #000 calc(100% + 1px))
      calc(var(--r) + var(--_x)) calc(-1*var(--r)),
    var(--_g) calc(var(--_d) + var(--_x)) 0,
    var(--_g) 0 calc(-1*var(--_d));
  mask-repeat: no-repeat;
}

.caption {
  height: 3.5em;
  width: calc(3.5em + var(--_x));
  box-sizing: border-box;
  translate: calc(1.75em) calc(1.75em);
  overflow: hidden;
  background: #BF4D28;
  color: #fff;
  padding: 0.5em 1em;
  clip-path: inset(5px round 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.card.alt .caption {
  translate: calc(-1.75em) calc(1.75em);
}

.caption h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.2;
}

.caption p {
  margin: 0;
  font-size: 0.75em;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.9;
  line-height: 1.2;
}
